<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to(root_path, class: "navbar-brand") do %>
      <%= image_tag('logo.png', width: 50, height: 50, class: "d-inline-block align-text-middle")%>
      <%= assistant_name %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Conversations</h5>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <%= turbo_stream_from :conversations %>
        <ul id="conversations" class="navbar-nav navbar-light justify-content-end flex-grow-1 pe-3">
          <%= render partial: "conversations/conversation", collection: @conversations %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main class="col px-2 pt-2">
  <%= turbo_stream_from :messages %>
  <div id="messages" data-controller="markdown">
    <%= render @messages %>
  </div>
  <%= render "messages/form" %>
</main>
