<!DOCTYPE html>
<html>
  <head>
    <title><%= assistant_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="overflow-hidden">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to(root_path, class: "navbar-brand") do %>
          <%= image_tag('logo.png', width: 50, height: 50, class: "d-inline-block align-text-middle")%>
          <%= assistant_name %>
        <% end %>
      </div>
    </nav>
    <main class="content">
      <%= yield %>
    </main>
    <footer class="footer fixed-bottom">
      <div class="container">
        <%= content_for :footer %>
      </div>
    </footer>
  </body>
</html>
